body {
  margin: 0;
  padding: 0;
  /* background-image: url(counter_background.avif); */
  background-position: top center;
  /* background-repeat: no-repeat; */
  object-fit: cover;
  /* background-color: chocolate; */
  /* text-align: center; */
  /* color: white; */
  /* padding-top: 80px; */
}

p {
  font-size: 20px;
  font-weight: 600;
}

button {
  outline: none;
  padding: 5px 10px;
  font-size: 20px;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: white;
}

button:last-child {
  display: block;
  margin-left: 480px;
  margin-top: 10px;
  font-size: 16px;
  padding: 6px 15px;
}

button:disabled {
  background-color: whitesmoke;
}
